:root{
    --primary-color:#ED4D2D;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --star-gold-color:#FFCE3E;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-sort-bar-height:46px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* respinsive */

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;

}
.fix__mid{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(--growth-from);
    }
    to{
        transform: scale(--growth-to);
    }
}
/* modal */
.modal{
    position: fixed;
    display: flex;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.5s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
}
/* can giua */
.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}
.btn{
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 12px;
    min-width: 190px;
   
}
.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.2);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color:var(--primary-color);
}
/* selection */
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    top: 1px;
}
.select-input__list {
    /* left 0 right 0 de no bang chieu ngang cua the chua no */
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    margin-top: 2px;
    list-style: none;
    display: none;
    z-index: 1;
}
.select-input__item{
    padding: 8px 0;
}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}
.select-input__link:hover{
    color: var(--primary-color);
}
.select-input:hover .select-input__list{
    display: block;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item{
    list-style: none;
    margin: 0 10px;
}
.pagination-item__active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item__active .pagination-item__link:hover{
    background-color: #ed5c3f;
}
.pagination-item__link{
    display: block;
    text-decoration: none;
    color: #939393;
    font-size: 2rem;  
    font-weight: 300;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}
.pagination-item__icon{
    font-style: normal;
}
